* {
  box-sizing: border-box;
} 

body {
  background-color:#E4EBFA;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #000112;
} 

.Sidebar {
  background-color: #FFFFFF; 
  width: 300px; 
  height: 1024px; 
  position: fixed; /* or absolute, depending on context */
  top: 0;
  left: 0;

}

.logo-header {
  width: 152px; 
  height: 25px; 
  margin-top: 1.2em;
  margin-left: 1.6em;
}

.purple-button {
  background-color: #635FC7; 
  border-style: none; 
  border-radius: 30px;
  transform: translateX(-1.5em); 
  width: 276px; 
  height: 48px;  
} 

.boards {
  color: #828FA3;  
  font-weight: 300;
  font-size: 12px;
  margin-left: 2.2em;
}