* {
  box-sizing: border-box;
} 

body {
  background-color:#E4EBFA;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #000112; 
  width: 1440px;
  height: 1024px;
} 

.main {
    display: flex;
    flex-direction: row;
}

/*========================
Sidebar Section Stylings
========================*/

.Sidebar {
  background-color: #FFFFFF; 
  width: 300px; 
  height: 1024px; 
  transform: translateX(-1em);
}

.logo-header {
  width: 152px; 
  height: 25px; 
  margin-top: 2.5em;
  margin-left: 1.6em;
}

.purple-button {
  background-color: #635FC7; 
  border-style: none; 
  border-radius: 30px;
  transform: translateX(-1.5em); 
  width: 276px; 
  height: 48px;
  color: #FFFFFF;  
} 

.boards {
  color: #828FA3;  
  font-weight: 300;
  font-size: 12px;
  margin-left: 2.2em;
  margin-top: 3em;
} 


/*========================
Launchbar Header Stylings
========================*/

.web-layout {
  height: 100vh;
}  

.launch-tile {
  width: 1240px; 
  height: 97px; 
  background-color: #FFFFFF;
  margin-top: 0;
  transform: translatey(-.95em );
  margin-left: -1em;
} 

.career-title {
  padding-top: 2.6em;
  padding-left: 2.6em;
  font-size: 18px;
  font-weight: bold;
} 

/*========================
List Pill Item Stylings
========================*/

.list-pill {
  background-color: #FFFFFF; 
  font-size: 15px; 
  width: 280px;
  height: 60px;
  text-align: center;
  padding-top: 20px;
  font-weight: bold;
  border-style: none;
  border-radius: 8px;
  margin-bottom: 1em;
  box-shadow: 3px 3px 3px 0 rgba(156, 156, 156, 0.5);;
} 

.list-heading {
  font-weight: 300;
  font-size: 12px;
  color: #828FA3;
} 

.todo,
.doing,
.done {
  width: 290px; 
  height:400px;
  margin-left: 1em; 
}

/*========================
List Pill Items Position
========================*/

.container {
    display: flex;
    flex-direction: row;
    height: 500px;
} 

/*========================
List Pill DOt Stylings
========================*/

.circle-dot {
  height: 10px;        
  width: 10px;         
  background-color: #2fa7d6eb;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}  

.circle-dot-2 {
  height: 10px;        
  width: 10px;         
  background-color: #480be4;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}  

.circle-dot-3 {
  height: 10px;        
  width: 10px;         
  background-color: #3dd5a7e7;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
} 